/*
 * Globals
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
  }
  
  
.true-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 106px;
  width: 680px;
}
.btn {
  position: relative;
  border: 0 !important;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  font-weight: bold !important;
  -webkit-border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 10px;
  -moz-background-clip: padding;
  border-radius: 10px;
  background-clip: padding-box;
  -webkit-transition: all 50ms ease;
  -moz-transition: all 50ms ease;
  -o-transition: all 50ms ease;
  transition: all 50ms ease;
  border: 0;
  text-shadow: 0px 1px 0px #999999;
  background-color: #cccccc;
  -webkit-box-shadow: 0px 6px 0px #999999;
  -moz-box-shadow: 0px 6px 0px #999999;
  box-shadow: 0px 6px 0px #999999;
}
.btn:focus {
  outline: 0;
}
.btn:hover {
  top: 2px;
}
.btn:active {
  top: 6px;
}
.btn:hover {
  border: 0;
  background-color: #d9d9d9 !important;
  -webkit-box-shadow: 0px 4px 0px #999999;
  -moz-box-shadow: 0px 4px 0px #999999;
  box-shadow: 0px 4px 0px #999999;
}
.btn:active {
  -webkit-box-shadow: inset 0px 3px 0px #999999;
  -moz-box-shadow: inset 0px 3px 0px #999999;
  box-shadow: inset 0px 3px 0px #999999;
}
.btn-primary {
  border: 0;
  text-shadow: 0px 1px 0px #3071a9;
  background-color: #428bca;
  -webkit-box-shadow: 0px 6px 0px #3071a9;
  -moz-box-shadow: 0px 6px 0px #3071a9;
  box-shadow: 0px 6px 0px #3071a9;
}
.btn-primary:hover {
  border: 0;
  background-color: #5697d0 !important;
  -webkit-box-shadow: 0px 4px 0px #3071a9;
  -moz-box-shadow: 0px 4px 0px #3071a9;
  box-shadow: 0px 4px 0px #3071a9;
}
.btn-primary:active {
  -webkit-box-shadow: inset 0px 3px 0px #3071a9;
  -moz-box-shadow: inset 0px 3px 0px #3071a9;
  box-shadow: inset 0px 3px 0px #3071a9;
}
.btn-success {
  border: 0;
  text-shadow: 0px 1px 0px #449d44;
  background-color: #5cb85c;
  -webkit-box-shadow: 0px 6px 0px #449d44;
  -moz-box-shadow: 0px 6px 0px #449d44;
  box-shadow: 0px 6px 0px #449d44;
}
.btn-success:hover {
  border: 0;
  background-color: #6ec06e !important;
  -webkit-box-shadow: 0px 4px 0px #449d44;
  -moz-box-shadow: 0px 4px 0px #449d44;
  box-shadow: 0px 4px 0px #449d44;
}
.btn-success:active {
  -webkit-box-shadow: inset 0px 3px 0px #449d44;
  -moz-box-shadow: inset 0px 3px 0px #449d44;
  box-shadow: inset 0px 3px 0px #449d44;
}
.btn-info {
  border: 0;
  text-shadow: 0px 1px 0px #31b0d5;
  background-color: #5bc0de;
  -webkit-box-shadow: 0px 6px 0px #31b0d5;
  -moz-box-shadow: 0px 6px 0px #31b0d5;
  box-shadow: 0px 6px 0px #31b0d5;
}
.btn-info:hover {
  border: 0;
  background-color: #70c8e2 !important;
  -webkit-box-shadow: 0px 4px 0px #31b0d5;
  -moz-box-shadow: 0px 4px 0px #31b0d5;
  box-shadow: 0px 4px 0px #31b0d5;
}
.btn-info:active {
  -webkit-box-shadow: inset 0px 3px 0px #31b0d5;
  -moz-box-shadow: inset 0px 3px 0px #31b0d5;
  box-shadow: inset 0px 3px 0px #31b0d5;
}
.btn-warning {
  border: 0;
  text-shadow: 0px 1px 0px #ec971f;
  background-color: #f0ad4e;
  -webkit-box-shadow: 0px 6px 0px #ec971f;
  -moz-box-shadow: 0px 6px 0px #ec971f;
  box-shadow: 0px 6px 0px #ec971f;
}
.btn-warning:hover {
  border: 0;
  background-color: #f2b866 !important;
  -webkit-box-shadow: 0px 4px 0px #ec971f;
  -moz-box-shadow: 0px 4px 0px #ec971f;
  box-shadow: 0px 4px 0px #ec971f;
}
.btn-warning:active {
  -webkit-box-shadow: inset 0px 3px 0px #ec971f;
  -moz-box-shadow: inset 0px 3px 0px #ec971f;
  box-shadow: inset 0px 3px 0px #ec971f;
}
.btn-danger {
  border: 0;
  text-shadow: 0px 1px 0px #c9302c;
  background-color: #d9534f;
  -webkit-box-shadow: 0px 6px 0px #c9302c;
  -moz-box-shadow: 0px 6px 0px #c9302c;
  box-shadow: 0px 6px 0px #c9302c;
}
.btn-danger:hover {
  border: 0;
  background-color: #de6764 !important;
  -webkit-box-shadow: 0px 4px 0px #c9302c;
  -moz-box-shadow: 0px 4px 0px #c9302c;
  box-shadow: 0px 4px 0px #c9302c;
}
.btn-danger:active {
  -webkit-box-shadow: inset 0px 3px 0px #c9302c;
  -moz-box-shadow: inset 0px 3px 0px #c9302c;
  box-shadow: inset 0px 3px 0px #c9302c;
}
.btn-link {
  text-shadow: none;
  background: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-link:hover {
  border: 0;
  background: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  top: 0;
}
.btn-link:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  top: 0;
}

h2 a.link, h2 a.link:active, h2 a.link:visited {
    color: #b5190e !important;
    text-decoration: underline !important;
}