<div class="sidebar-module sidebar-module-inset">
	<h4>Where do I find it?</h4>
	<p>You can order the Twilio Cookbook: Second Edition here at <strong><a href="http://amzn.to/QlQ2bZ">Amazon.</a></strong>
	</p><hr>
	<p>You can order the original, first edition of the Twilio Cookbook here at <strong><a href="http://amzn.to/16tAjHV">Amazon.</a></strong></p>
</div>
<div class="sidebar-module sidebar-module-inset">
	<h4>What Wrote It?</h4>
<img alt="" src="http://1.gravatar.com/avatar/49d7a2e94ec557de5d277f82cdabc2a3?s=48&amp;d=mm&amp;r=g" srcset="http://1.gravatar.com/avatar/49d7a2e94ec557de5d277f82cdabc2a3?s=96&amp;d=mm&amp;r=g 2x" class="avatar avatar-48 photo grav-hashed grav-hijack pull-left" height="48" width="48" id="grav-49d7a2e94ec557de5d277f82cdabc2a3-0" style="padding:2px;">
	<p>I'm <a href="http://rogerstringer.com">Roger Stringer</a>. I am a father, writer, developer, chef, entrepreneur and lover of movies, music and books. Founder of <a href="http://flybase.io">Flybase</a>.</p>
	<hr>
	<p>You can follow me at <strong><a href="http://twitter.com/freekrai">Twitter</a>, <a href="https://plus.google.com/110703673421158974551/posts">Google+</a>, <a href="https://github.com/freekrai">Github.</a></strong> and my <strong><a href="http://rogerstringer.com">blog.</a></strong></p>
	<hr>
	<p><a class="btn btn-danger" href="/about/">Read More</a></p>
</div>
<div class="sidebar-module sidebar-module-inset">
	<h4>How Can I Report A Bug?</h4>
	<p>I'm a human, a human can make some mistakes. You can report it to me via&nbsp;<a href="https://github.com/freekrai/TwilioCookbook/issues">Github Issues</a>&nbsp;or contact me at the social networks above.</p>
	<hr>
	<p>You can also find the most recent, up-to-date copies of the code here at the book's <a href="https://github.com/freekrai/TwilioCookbook/">github repo</a></p>
</div>
<!--
<div class="sidebar-module sidebar-module-inset">
	<h4>About</h4>
	<p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
</div>
<div class="sidebar-module">
	<h4>Archives</h4>
	<ol class="list-unstyled">
		<li><a href="#">March 2014</a></li>
		<li><a href="#">February 2014</a></li>
		<li><a href="#">January 2014</a></li>
		<li><a href="#">December 2013</a></li>
		<li><a href="#">November 2013</a></li>
		<li><a href="#">October 2013</a></li>
		<li><a href="#">September 2013</a></li>
		<li><a href="#">August 2013</a></li>
		<li><a href="#">July 2013</a></li>
		<li><a href="#">June 2013</a></li>
		<li><a href="#">May 2013</a></li>
		<li><a href="#">April 2013</a></li>
	</ol>
	</div>
	<div class="sidebar-module">
	<h4>Elsewhere</h4>
	<ol class="list-unstyled">
		<li><a href="#">GitHub</a></li>
		<li><a href="#">Twitter</a></li>
		<li><a href="#">Facebook</a></li>
	</ol>
</div>
-->