
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<link href="/blog.css?v=1234" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div class="blog-masthead">
		<div class="container">
			<nav class="blog-nav">
				<a class="blog-nav-item{% if page.url == "/index.html" %} active{% endif %}" href="/">Home</a>
				<a class="blog-nav-item{% if page.url == "/toc/index.html" %} active{% endif %}" href="/toc/index.html">Table Of Contents</a>
				<a class="blog-nav-item{% if page.url == "/about/index.html" %} active{% endif %}" href="/about/index.html">About The Author</a>
				<a class="blog-nav-item{% if page.url == "/blog/index.html" %} active{% endif %}" href="/blog/index.html">Blog</a>
				<a class="blog-nav-item{% if page.url == "/contact/index.html" %} active{% endif %}" href="/contact/index.html">Contact</a>
				<a class="blog-nav-item" href="http://amzn.to/QlQ2bZ">Get It Now</a>
			</nav>
		</div>
	</div>
	<div class="container">
		<div class="blog-header">
			<h1 class="blog-title">The Twilio Cookbook</h1>
			<p class="lead blog-description">The Book Of Twilio, now in it's second edition!</p>
		</div>
		<div class="row">
			<div class="col-sm-8 blog-main">
				{{content}}
			</div><!-- /.blog-main -->
	
			<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
				{% include sidebar.html %}
			</div><!-- /.blog-sidebar -->
		</div><!-- /.row -->

	</div><!-- /.container -->

	<footer class="blog-footer">
		<p>Twilio Cookbook was written by <a href="http://rogerstringer.com">Roger Stringer</a> and published by <a href="https://www.packtpub.com/networking-and-servers/twilio-cookbook">Pakt Publishing</a>
		<p><a href="#">Back to top</a></p>
	</footer>
</body>
</html>
